@import 'normalize.css';

* {
  box-sizing: border-box;
}

body {
  background-image: url('imgs/gold.jpg');
  background-size: cover;
  font-family: 'Abel', sans-serif;
  font-size: 20px;
  height: 100vh;
}

header {
  position: relative;
  border-bottom: 3px solid black;
  color: #d8d8d8;
  font-size: 1.6rem;
  height: 10.5rem;
}

#header__top {
  float: right;
  padding-right: 1.2rem;
  font-size: 1.4rem;
  cursor: pointer;
}

.fa-user-circle,
.fa-caret-down,
.link__icon {
  vertical-align: -3px;
  height: 1.4rem;
  color: #e7b923;
}

.fa-user-circle {
  color: #f8f8f8;
}

#header__bottom--links {
  position: absolute;
  bottom: 0rem;
  padding: 0 0 1rem 1rem;
}

#header__top:hover,
.header__a:hover {
  color: #f8f8f8;
}

a {
  padding-right: 3rem;
  color: #ccc;
  text-decoration: none;
}

.header__clicked {
  color: #f8f8f8;
  font-weight: bold;
}

.header__a {
  padding-left: .3rem;
}

.menu {
  display: none;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: #e7b923;
  cursor: pointer;
  font-size: 3rem;
}

h1 {
  position: absolute;
  right: 0;
  bottom: 0;
  display: inline-block;
  margin: 0;
  padding: 0 1rem 0.8rem;
  font-family: 'Cinzel', serif;
}

h2 {
  margin: 0;
  padding: 2.4rem 0 0 1rem;
  color: #f8f8f8;
  font-size: 3.6rem;
  height: 6rem;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 5rem;
}

article { 
  margin-top: 2rem;
  border: 2px solid black;
  background-color: black;
  height: 32rem;
  min-width: 280px;
  overflow: hidden;
  width: 23.5%;
}

.header {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  height: 12rem;
}

.share {
  position: absolute;
  top: 1rem;
  left: 1rem;
  height: 2rem;
  width: 2rem;
}

#art--one {
  background-image: url('imgs/hamilton-2.png');
}

#art--two {
  background-image: url('imgs/eliza-2.png');
}

#art--three {
  background-image: url('imgs/burr-2.png');
}

#art--four {
  background-image: url('imgs/angelica-2.png');
}

#art--five {
  background-image: url('imgs/lafayette-2.png');
}

#art--six {
  background-image: url('imgs/theadosia-2.png');
}

#art--seven {
  background-image: url('imgs/laurens-2.png');
}

#art--eight {
  background-image: url('imgs/hurcules-2.png');
}

#art--one:hover,
#art--two:hover,
#art--three:hover,
#art--four:hover,
#art--five:hover,
#art--six:hover,
#art--seven:hover,
#art--eight:hover {
  background-image: url('imgs/cinbun.png')
}

.header__right {
  position: absolute;
  top: 0;
  right: 0;
  padding: .5rem;
  color: #e0e0e0;
}

.header__right--views {
  margin: 0;
  font-size: 1rem;
}

.header__right--num {
  margin: 0;
  color: #e7b923;
  font-size: 2.6rem;
}

.body {
  padding: 1rem 1.6rem;
}

.body__top {
  margin-bottom: 1.2rem 0;
}

h3,
h4,
h5 {
  margin: 0;
  color: #e0e0e0;
}

h3 {
  font-size: 1.4rem;
}

.body__person-info {
  margin: 0;
  color: #e0e0e0;
  font-size: 1rem;
}

blockquote {
  margin: 1.2rem 0;
  padding: 0.6rem;
  background-color: #888888;
  color: #e0e0e0;
  font-size: 1rem;
  height: 5rem;
  overflow: scroll;
  word-wrap: break-word;
}

.body__info {
  margin: 1rem 0;
}

h5 {
  font-size: 1rem;
}

h4 {
  padding-bottom: 0.4rem;
  font-size: 1.2rem;
}

.body__birth-place {
  color: #e7b923;
  font-size: 2.4rem;
}

.footer__img {
  padding: 0 4rem;
  width: 100%;
}

@media (max-width: 1150px){
  article { 
    width: 30%;
  }
}

@media (max-width: 930px){
  h1 {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem 0 0 1rem;
}

@media (max-width: 850px){
  article { 
    width: 42%;
  }
}

@media (max-width: 640px){
  #header__top {
    float: left;
    padding: 4.5rem 0 0 1rem;
  }
}

@media (max-width: 560px){
  article { 
    width: 65%;
  }
}

@media (max-width: 528px){
  .link__icon {
    display: none;
  }
}

@media (max-width: 440px){
  article { 
    height: 22rem;
  }

  .header {
    height: 10rem;
  }

  .body__info {
    display: none;
  }

  h5 {
    display: none;
  }

  h4 {
    display: none;
  }

  .body__birth-place {
    display: none;
  }

  .footer__img {
    padding: 0 1rem;
  }
}

@media (max-width: 405px){
  h1 {
    padding: 1rem 0 2rem 1rem;
    font-size: 2rem;
  }

  #header__bottom--links {
    display: none;
  }

  .menu {
    display: inline-block;
  }
}