@import 'normalize.css';

body {
background-color: black;
  font-size: 20px;
  height: 100vh;
  font-family: 'Abel', sans-serif;
}

header {
  position: relative;
  height: 15%;
  background-image: url('images/background.png');
  background-size: cover;
  
  /*#f6c049;*/
    /*background-color: #a8a7a7;*/
}

#header__top {
  float: right;
}

#header__bottom-left {
  position: absolute;
  bottom: 1rem;
}

a {
  text-decoration: none;
}

h1 {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  margin: 0;
}

h1 {
  display: inline-block;
  position: asbolute;
  right: 0;
  font-family: 'Cinzel', serif;
}

main {
  display: flex;
  flex-wrap: wrap;
}

/*#art__one
#art__two,
#art__three,
#art__four,
#art__five,
#art__six,
#art__seven,*/

article { 
  margin: auto;
  margin-top: 2rem;
  background-color: #ccbea0;
  height: 30rem;
  width: 23%;
  min-width: 220px;
}


.header {
  position: relative;
  height: 33%;
  background-image: url('images/hamilton.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.header__right {
  padding: .5rem;
  position: absolute;
  top: 0;
  right: 0;
}

.header__right--views {
  margin: 0;
  font-size: 1rem;
}

.header__right--num {
  margin: 0;
  font-size: 2.6rem;
}

.body {
  padding: .5rem;
}

h3,
h4,
h5 {
  margin: 0;
}

.body__top--date {
  margin: 0;
  font-size: 1rem;
}

.body__website {
  padding: 0.6rem;
  margin: 1rem 0;
  background-color: #a16526;
  font-size: 1rem;
}

.body__playlist {
  margin: 0.4rem 0;
}

h5 {
  font-size: 1.1rem;
}

h4 {
  font-size: 1.4rem;
}

.body__attach--num {
  color: green;
  font-size: 2.2rem;
}