@import 'reset.css';

body {
background-color: black;
  font-size: 20px;
  height: 100vh;
}

header {
  position: relative;
  height: 15%;
  background-color: #ccbea0;
  /*#f6c049;*/
    /*background-color: #a8a7a7;*/
}

#header__top {
  float: right;
}

#header__bottom-left {
  position: absolute;
  bottom: 1rem;
}

a {
  text-decoration: none;
}

#header__bottom-right {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

h1 {
  display: inline-block;
  position: asbolute;
  right: 0;
}

section {
  display: flex;
  flex-wrap: wrap;
}

/*#art__one
#art__two,
#art__three,
#art__four,
#art__five,
#art__six,
#art__seven,*/

article { 
  margin: auto;
  margin-top: 2rem;
    background-image: url('images/background.png');
  background-size: cover;
  height: 30rem;
  width: 23%;

}